@model IncomeAndExpenses.Web.Models.ExpenseViewModel

@{
    ViewBag.Title = "Expense details";
}

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-9">
        <div class="card">
            <div class="card-header">
                <h2>Details</h2>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title">Expense</h4>
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto col-md-3 font-weight-bold">@Html.DisplayNameFor(model => model.Amount):</div>
                            <div class="col">@Html.DisplayFor(model => model.Amount)</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto col-md-3 font-weight-bold">@Html.DisplayNameFor(model => model.Date):</div>
                            <div class="col">@Html.DisplayFor(model => model.Date)</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto col-md-3 font-weight-bold">@Html.DisplayNameFor(model => model.ExpenseTypeName):</div>
                            <div class="col">@Html.DisplayFor(model => model.ExpenseTypeName)</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-auto col-md-3 font-weight-bold">@Html.DisplayNameFor(model => model.Comment):</div>
                            <div class="col">@Html.DisplayFor(model => model.Comment)</div>
                        </div>
                    </li>
                </ul>
                <br />
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary float-right" })
                @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-light float-left" })
            </div>
        </div>
    </div>
</div>
