<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Income & Expenses</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="Stylesheet" href="@Href("~/Content/Site.css")" />*@
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-light" id="menu">
        <div class="container">
            @if (Request.IsAuthenticated)
            {
            <nav class="navbar navbar-lignt padding-zero">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <a class="navbar-brand" href="/IncomeAndExpenses">Income & Expenses</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Expense types", "Index", "ExpenseTypes", new { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Income types", "Index", "IncomeTypes", new { }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right ml-auto">
                    <li class="nav-item navbar-text">Hello, @User.Identity.Name!</li>
                    <li class="nav-item">@Html.ActionLink("Log off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
                </ul>
            </div>
            }
            else
            {
                <a class="navbar-brand  padding-zero" href="/IncomeAndExpenses">Income & Expenses</a>
            }
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()        
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
