@model IncomeAndExpenses.Web.Models.HomeIndexViewModel
@using IncomeAndExpenses.Web.Utils;
@{
    ViewBag.Title = "Home";
}

<h3 class="text-right">Current balance: @Model.CurrentBalance</h3>

<div class="row">
    <div class="col col-6">
        <h1>Expenses</h1>
        <div class="float-left">
            @Html.ActionLink("Create New", "Create", "Expenses")
        </div>
        <div class="float-right font-weight-bold">Total: @Model.ExpenseTotal</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Amount
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Type
                    </th>
                    <th></th>
                </tr>
            </thead>
        @if (Model.Expenses.Count() > 0)
        { 
            foreach (var item in Model.Expenses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseTypeName)
                    </td>
                    <td>
                        <a href=@Url.Action("Edit", "Expenses", new { id = item.Id })><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
                        <a href=@Url.Action("Details", "Expenses", new { id = item.Id })><i class="fas fa-info"></i></a>&nbsp;&nbsp;
                        <a href=@Url.Action("Delete", "Expenses", new { id = item.Id })><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">It seems there is nothing here...</td>
            </tr>
        }
        </table>
        <br />
        <div class="btn-group">
            @Html.PageLinks(Model.ExpensesPageInfo, 2, x => Url.Action("Index", new { expensesPage = x, incomesPage = Model.IncomesPageInfo.PageNumber }))
        </div>
    </div>
    <div class="col col-6">
        <h1>Income</h1>
        <div class="float-left">
            @Html.ActionLink("Create New", "Create", "Incomes")
        </div>
        <div class="float-right font-weight-bold">Total: @Model.IncomeTotal</div>
        <table class="table">
            <tr>
                <th>
                    Amount
                </th>
                <th>
                    Date
                </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>
        @if (Model.Incomes.Count() > 0)
        { 
            foreach (var item in Model.Incomes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncomeTypeName)
                    </td>
                    <td>
                        <a href=@Url.Action("Edit", "Incomes", new { id = item.Id })><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
                        <a href=@Url.Action("Details", "Incomes", new { id = item.Id })><i class="fas fa-info"></i></a>&nbsp;&nbsp;
                        <a href=@Url.Action("Delete", "Incomes", new { id = item.Id })><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">It seems there is nothing here...</td>
            </tr>
        }
        </table>
        @Html.PageLinks(Model.IncomesPageInfo, 2, x => Url.Action("Index", new { expensesPage = Model.ExpensesPageInfo.PageNumber, incomesPage = x }))
    </div>
</div>