@model IncomeAndExpenses.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home";
    AjaxOptions expesesAjaxOptions = new AjaxOptions { UpdateTargetId = "expenses", HttpMethod = "GET", OnSuccess = "InsertAngles" };
    AjaxOptions incomesAjaxOptions = new AjaxOptions { UpdateTargetId = "incomes", HttpMethod = "GET", OnSuccess = "InsertAngles" };
}

<h3 class="text-right">Current balance: @Model.CurrentBalance</h3>

<div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <h1>Expenses</h1>
        @using (Ajax.BeginForm("GetExpensesData", expesesAjaxOptions))
        {
            <div class="input-group mb-3">
                <input id="search" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" value="" name="searchValue">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="search-btn">Search</button>
                </div>
            </div>
        }
        <div class="float-left">
            @Html.ActionLink("Create New", "Create", "Expenses")
        </div>
        <div class="float-right font-weight-bold">Total: @Model.ExpenseTotal</div>
        <div id="expenses">
            @Html.Action("GetExpensesData", new { })
        </div>
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <h1>Income</h1>
        @using (Ajax.BeginForm("GetIncomesData", incomesAjaxOptions))
        {
            <div class="input-group mb-3">
                <input id="search" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" value="" name="searchValue">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="search-btn">Search</button>
                </div>
            </div>
        }
        <div class="float-left">
            @Html.ActionLink("Create New", "Create", "Incomes")
        </div>
        <div class="float-right font-weight-bold">Total: @Model.IncomeTotal</div>
        <div id="incomes">
            @Html.Action("GetIncomesData", new { })
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            InsertAngles();
        });
        
        function InsertAngles()
        {
            $(".asc").each(function () {
                $(this).html("<i class='fas fa-angle-up'></i>")
            });
            $(".desc").each(function () {
                $(this).html("<i class='fas fa-angle-down'></i>")
            });
        }
    </script>    
}